@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: Montserrat, sans-serif;
  --font-open: Open Sans, sans-serif;
}

label.required::after {
  content: " *";
  color: red;
}